<div class="container-fluid">
  <div class="row">
    <div class="col col-md-4">
      <h2>Need a ride?</h2>
      <br/>
      <div *ngIf="!isRideRequestPending">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#callARideModal">
            Call a ride
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="callARideModal" tabindex="-1" role="dialog" aria-labelledby="callARideModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="callARideModalTitle">Call a ride</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="rideForm">
                  <div class="form-group" formGroupName="location">
                    <h3>What's your location?</h3>
                    <div formGroupName="address">
                      <legend>Address</legend>
                      <label for="streetName">Street Name</label>
                      <input required formControlName="streetName" type="text" name="streetName" class="form-control form-control-sm">
                      <label for="streetNumber">Street Number</label>
                      <input required formControlName="streetNumber" type="text" name="streetNumber" class="form-control form-control-sm">
                      <label for="city">City</label>
                      <input required formControlName="city" type="text" name="city" class="form-control form-control-sm">
                      <label for="postalCode">Postal Code</label>
                      <input required formControlName="postalCode" type="text" name="postalCode" class="form-control form-control-sm">
                    </div>
                    <legend>Coordinates</legend>
                    <label for="longitude">Longitude</label>
                    <input required formControlName="longitude" type="text" name="longitude" class="form-control form-control-sm">
                    <label for="latitude">Latitude</label>
                    <input required formControlName="latitude" type="text" name="latitude" class="form-control form-control-sm">
                  </div>
                  <div class="form-group">
                    <h3>What type of car would you like?</h3>
                    <h6>If this field is left empty a random type of car will arrive.</h6>
                    <select formControlName="carType" name="carType" class="form-control form-control-sm">
                      <option>PASSENGER</option>
                      <option>VAN</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button *ngIf="!isRideChanging" class="btn btn-primary" (click)="callARide(rideForm.value)" type="button" [disabled]="!rideForm.valid">Submit</button>
                    <button *ngIf="isRideChanging" class="btn btn-primary" (click)="changeARide(rideForm.value)" type="button" [disabled]="!rideForm.valid">Submit</button>
                  </div>    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isRideRequestPending">
        <div class="card">
          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Ride request sent</h4>
              <!--Text-->
              <p class="card-text">Pending...</p>
          </div>
          <!--/.Card content-->
          <button class="btn btn-primary" (click)="toggleChangeRide()" data-toggle="modal" data-target="#callARideModal">Change</button>
          <button class="btn btn-primary" type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal" (click)="cancelARide()">Cancel</button>
        </div>
      </div>
      <div *ngIf="isRideCancelled">
        <div data-backdrop="static" data-keyboard="false" class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="commentModalTitle">Tell us what went wrong.</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <form #commentRideForm="ngForm" (ngSubmit)="commentCancelledRide(commentRideForm.value)">
                  <input class="form-control form-control-lg" placeholder="Leave a comment..." name="description" [(ngModel)]="description">
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="submit" class="btn btn-primary">Comment</button>
                  </div>    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <h2>My personal data</h2>
      <br/>
      <!-- <button class="btn btn-primary" (click)="getMyData()">Display my data</button> -->
      <!-- <div *ngIf="shouldDisplayData"> -->
      <div class="card-body">
        <form #changeDataForm="ngForm" (ngSubmit)="changeMyData(changeDataForm.value)">
          <table class="table table-sm table-hover">
            <tbody>
              <tr>
                <td class="required">Username:</td>
                <td>
                  <div class="form-group">
                    <input 
                      required 
                      minlength="8"
                      maxlength="30"
                      pattern="[a-zA-Z0-9]*"
                      type="text" name="username" #username="ngModel" [(ngModel)]="personalData.username" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                      <div *ngIf="username.errors.required">Username is required.</div>
                      <div *ngIf="username.errors.minlength">Username needs to be at least 8 characters long.</div>
                      <div *ngIf="username.errors.maxlength">Username needs to be maximum of 30 characters long.</div>
                      <div *ngIf="username.errors.pattern">Username can contain only ASCII characters and numbers.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Password:</td>
                <td>
                  <div class="form-group">
                    <input 
                      required 
                      minlength="8"
                      maxlength="30"
                      pattern="[a-zA-Z0-9]*"
                      type="text" name="password" #password="ngModel" [(ngModel)]="personalData.password" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                      <div *ngIf="password.errors.required">Password is required.</div>
                      <div *ngIf="password.errors.minlength">Password needs to be at least 8 characters long.</div>
                      <div *ngIf="password.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
                      <div *ngIf="password.errors.pattern">Password can contain only ASCII characters and numbers.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>
                  <div class="form-group">
                    <input 
                      required
                      minlength="3"
                      maxlength="30"
                      pattern="[a-zA-Z]*"
                      type="text" name="name" #name="ngModel" [(ngModel)]="personalData.name" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                      <div *ngIf="name.errors.required">Name is required.</div>
                      <div *ngIf="name.errors.minlength">Name needs to be at least 3 characters long.</div>
                      <div *ngIf="name.errors.maxlength">Name needs to be maximum of 30 characters long.</div>
                      <div *ngIf="name.errors.pattern">Name can contain only ASCII characters.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Lastname:</td>
                <td>
                  <div class="form-group">
                    <input 
                      required 
                      minlength="3"
                      maxlength="30"
                      pattern="[a-zA-Z]*"
                      type="text" name="lastname" #lastname="ngModel" [(ngModel)]="personalData.lastname" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
                      <div *ngIf="lastname.errors.required">Lastname is required.</div>
                      <div *ngIf="lastname.errors.minlength">Lastname needs to be at least 3 characters long.</div>
                      <div *ngIf="lastname.errors.maxlength">Lastname needs to be maximum of 30 characters long.</div>
                      <div *ngIf="lastname.errors.pattern">Lastname can contain only ASCII characters.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                  <div class="form-group">
                    <input 
                      required 
                      maxlength="254"
                      email type="text" name="email" #email="ngModel" [(ngModel)]="personalData.email" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                      <div *ngIf="email.errors.required">Email is required.</div>
                      <div *ngIf="email.errors.email">Email is not valid.</div>
                      <div *ngIf="email.errors.maxlength">Email can be a maximum of 254 characters long.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td>
                  <div class="form-group">
                    <select required name="gender" [(ngModel)]="personalData.gender" #gender="ngModel" class="form-control form-control-sm">
                      <option selected>{{ personalData.gender }}</option>
                      <option *ngIf="personalData.gender === 'FEMALE'">MALE</option>
                      <option *ngIf="personalData.gender === 'MALE'">FEMALE</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">
                      <div *ngIf="gender.errors.required">Gender is required.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>NIDN:</td>
                <td>
                  <div class="form-group">
                    <input 
                      minlength="13"
                      maxlength="13"
                      pattern="[0-9]*"
                      type="text" name="nationalIdentificationNumber" [(ngModel)]="personalData.nationalIdentificationNumber" #nationalIdentificationNumber="ngModel" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="nationalIdentificationNumber.touched && !nationalIdentificationNumber.valid">
                      <div *ngIf="nationalIdentificationNumber.errors.minlength || nationalIdentificationNumber.errors.maxlength">National identification number needs to be 13 digits long.</div>
                      <div *ngIf="nationalIdentificationNumber.errors.pattern">National identification number can contain only numbers.</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Phone number:</td>
                <td>
                  <div class="form-group">
                    <input 
                      minlength="5"
                      maxlength="10"
                      pattern="[0-9]*"
                      type="text" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="personalData.phoneNumber" class="form-control form-control-sm">
                    <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                      <div *ngIf="phoneNumber.errors.minlength">Phone number needs to be at least 5 digits long.</div>
                      <div *ngIf="phoneNumber.errors.maxlength">Phone number needs to be maximum of 10 digits long.</div>
                      <div *ngIf="phoneNumber.errors.pattern">Phone number can contain only numbers.</div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <input *ngIf="shouldDisplaySaveChanges" [hidden]="!changeDataForm.dirty && changeDataForm.valid" class="btn btn-primary" type="submit" value="Save changes" [disabled]="!changeDataForm.valid"/>
        </form>
      </div>
    </div>
    <div class="col col-md-4">
      <h2>History</h2>
      <div class="tools">
        <span><a class="btn btn-primary btn-sm waves-light"
          mdbPopover="And here some amazing content. It's very engaging. Right?"
          placement="bottom"
          mdbPopoverHeader="Popover on bottom" mdbWavesEffect (click)="filter()">Filter</a></span>
        &nbsp;
        <span><a class="btn btn-primary btn-sm waves-light"
          mdbPopover="And here some amazing content. It's very engaging. Right?"
          placement="bottom"
          mdbPopoverHeader="Popover on bottom" mdbWavesEffect (click)="sort()">Sort</a></span>
        &nbsp;
        <span><a class="btn btn-primary btn-sm waves-light"
          mdbPopover="And here some amazing content. It's very engaging. Right?"
          placement="bottom"
          mdbPopoverHeader="Popover on bottom" mdbWavesEffect (click)="search()">Search</a></span>
      </div>
      <div *ngIf="ridesHistory.length > 0" class="scrollable">
        <!-- <div class="card-body"> -->
          <!-- <form #f="ngForm" (ngSubmit)="useHub(f.value)">
            <input type="text" name="field" ngModel #field="ngModel"/>
            <input type="submit" value="Click me!"/>
          </form> -->
            <table class="table">
              <tr *ngFor="let ride of ridesHistory">
                <td>
                  <!--Card-->
                  <div class="card">
                    <!--Card content-->
                    <div class="card-block">
                      <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{ride.startLocation.address.streetName}} {{ride.startLocation.address.streetNumber}}</h4>
                        <!--Text-->
                        <span class="card-text">Street name: </span>
                        <span class="card-text">{{ride.startLocation.address.streetName}}</span>
                        <br/>
                        <span class="card-text">Street number: </span>
                        <span class="card-text">{{ride.startLocation.address.streetNumber}}</span>
                        <br/>
                        <span class="card-text">City: </span>
                        <span class="card-text">{{ride.startLocation.address.city}}</span>
                        <br/>
                        <span class="card-text">Postal code: </span>
                        <span class="card-text">{{ride.startLocation.address.postalCode}}</span>
                        <br/>
                        <span class="card-text">Longitude: </span>
                        <span class="card-text">{{ride.startLocation.longitude}}</span>
                        <br/>
                        <span class="card-text">Latitude: </span>
                        <span class="card-text">{{ride.startLocation.latitude}}</span>
                        <br/>
                        <span class="card-text">Car type: </span>
                        <span class="card-text">{{ride.carType}}</span>
                        <br/>
                        <span class="card-text">Timestamp: </span>
                        <span class="card-text">{{ride.timestamp}}</span>
                        <br/>
                        <span class="card-text">Status: </span>
                        <span class="card-text">{{ride.rideStatus}}</span>
                        <br/>
                        <span class="card-text">Rating: </span>
                        <span>
                            <a *ngFor="let rating of ratingList; let i = index" (click)="rate(ride.id, i)">
                              <i [ngStyle]="{'color': (i < ride.comment.rating) ? 'red' : 'grey'}" class="fa fa-star"></i>
                            </a>
                        </span>
                        <br/>
                        <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm.value)">
                          <input type="text" hidden name="rideId" [(ngModel)]="ride.id" #rideId="ngModel"/>
                          <textarea type="text" class="form-control form-control-lg" placeholder="Leave a comment..." name="description" #description="ngModel" [(ngModel)]="ride.comment.description"></textarea>
                          <span class="card-text float-left">{{ride.customer.username}} at {{ride.comment.timestamp.toLocaleTimeString()}} {{ride.comment.timestamp.toLocaleDateString()}}</span>
                          <input type="submit" value="Comment" [disabled]="description.pristine" class="btn btn-primary btn-sm float-right"/>
                        </form>
                      </div>
                    </div>
                    <!--/.Card content-->
                  </div>
                  <!--/.Card-->
                </td>
              </tr>
            </table>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>