<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3">
      <h2>Pending rides</h2>
      <div *ngIf="pendingRides.length === 0">
        There are no pending rides yet.
      </div>
      <div *ngIf="pendingRides.length > 0" class="side-list">
        <table class="table">
          <tr *ngFor="let ride of pendingRides">
            <td>
              <!--Card-->
              <div class="card">
                <div class="card-header">
                  <div class="card-header-tabs">
                    <button type="button" (click)="takeOverARide(ride.id)" class="btn btn-primary btn-sm float-right">
                      Take over
                    </button>
                  </div>
                </div>    
                <!--Card content-->
                <div class="card-block">
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{ride?.startLocation?.address?.streetName}} {{ride?.startLocation?.address?.streetNumber}}</h4>
                    <!--Text-->
                    <span class="card-text">Price: </span>
                    <span class="card-text">{{ride?.price}}</span>
                    <br/>
                    <span class="card-text">Street name: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.streetName}}</span>
                    <br/>
                    <span class="card-text">Street number: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.streetNumber}}</span>
                    <br/>
                    <span class="card-text">City: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.city}}</span>
                    <br/>
                    <span class="card-text">Postal code: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.postalCode}}</span>
                    <br/>
                    <span class="card-text">Longitude: </span>
                    <span class="card-text">{{ride?.startLocation?.longitude}}</span>
                    <br/>
                    <span class="card-text">Latitude: </span>
                    <span class="card-text">{{ride?.startLocation?.latitude}}</span>
                    <br/>
                    <span class="card-text">Car type: </span>
                    <span class="card-text">{{ride?.carType}}</span>
                    <br/>
                    <span class="card-text">Timestamp: </span>
                    <span class="card-text">{{ride?.timestamp}}</span>
                    <br/>
                    <span class="card-text">Status: </span>
                    <span class="card-text">{{ride?.rideStatus}}</span>
                    <br/>
                    <span class="card-text">Customer:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.customer?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.customer?.lastname}}</span>
                    <br/>
                    <span class="card-text">Driver:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.driver?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.driver?.lastname}}</span>
                    <br/>
                    <span class="card-text">Dispatcher:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.dispatcher?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.dispatcher?.lastname}}</span>
                    <div *ngFor="let comment of ride?.comments">
                      <br/>
                      <span class="card-text">Rating: </span>
                      <span>
                          <a *ngFor="let rating of ratingList; let i = index">
                            <i [ngStyle]="{'color': (i < comment?.rating) ? 'red' : 'grey'}" class="fa fa-star"></i>
                          </a>
                      </span>
                      <br/>
                      <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm.value)">
                        <input type="text" hidden name="rideId" [(ngModel)]="ride.id" #rideId="ngModel"/>
                        <textarea readonly="true" type="text" class="form-control form-control-lg" placeholder="Leave a comment..." name="description" #description="ngModel" [ngModel]="comment?.description" (ngModelChange)="comment.description=$event"></textarea>
                        <span *ngIf="comment?.description !== null" class="card-text float-left">{{comment?.user.username}} at {{comment?.timestamp?.toLocaleDateString()}} {{comment?.timestamp?.toLocaleTimeString()}}</span>
                        <input *ngIf="comment?.user?.username === personalData?.username" type="submit" value="Comment" [disabled]="description.pristine" class="btn btn-primary btn-sm float-right"/>
                      </form>
                      <br/>
                    </div>
                  </div>
                </div>
                <!--/.Card content-->
              </div>
              <!--/.Card-->
            </td>
          </tr>
        </table>
        <!-- </div> -->
      </div>
    </div>
    <div class="col col-md-3">
      <h2>Taken ride</h2>
      <div *ngIf="takenRide === undefined">
        You haven't taken over a ride yet.
      </div>
      <div *ngIf="takenRide !== undefined">
        <table class="table table-hover">
          <tr>
            <td>
              <div class="card">
                <div class="card-header">
                    <div class="card-header-tabs">
                      <button type="button"  (click)="failedRide(ride.id)" class="btn btn-danger btn-sm float-right">
                          FAILED
                        </button>
                      <button type="button" (click)="successfulRide(ride.id)" class="btn btn-success btn-sm float-right">
                        SUCCESSFUL
                      </button>
                    </div>
                </div>
                <!--Card content-->
                <div class="card-block">
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{takenRide?.startLocation?.address?.streetName}} {{takenRide?.startLocation?.address?.streetNumber}}</h4>
                    <!--Text-->
                    <span class="card-text">Price: </span>
                    <span class="card-text">{{takenRide?.price}}</span>
                    <br/>
                    <span class="card-text">Street name: </span>
                    <span class="card-text">{{takenRide?.startLocation?.address?.streetName}}</span>
                    <br/>
                    <span class="card-text">Street number: </span>
                    <span class="card-text">{{takenRide?.startLocation?.address?.streetNumber}}</span>
                    <br/>
                    <span class="card-text">City: </span>
                    <span class="card-text">{{takenRide?.startLocation?.address?.city}}</span>
                    <br/>
                    <span class="card-text">Postal code: </span>
                    <span class="card-text">{{takenRide?.startLocation?.address?.postalCode}}</span>
                    <br/>
                    <span class="card-text">Longitude: </span>
                    <span class="card-text">{{takenRide?.startLocation?.longitude}}</span>
                    <br/>
                    <span class="card-text">Latitude: </span>
                    <span class="card-text">{{takenRide?.startLocation?.latitude}}</span>
                    <br/>
                    <span class="card-text">Car type: </span>
                    <span class="card-text">{{takenRide?.carType}}</span>
                    <br/>
                    <span class="card-text">Timestamp: </span>
                    <span class="card-text">{{takenRide?.timestamp}}</span>
                    <br/>
                    <span class="card-text">Status: </span>
                    <span class="card-text">{{takenRide?.rideStatus}}</span>
                    <br/>
                    <span class="card-text">Customer:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{takenRide?.customer?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{takenRide?.customer?.lastname}}</span>
                    <br/>
                    <span class="card-text">Driver:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{takenRide?.driver?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{takenRide?.driver?.lastname}}</span>
                    <br/>
                    <span class="card-text">Dispatcher:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{takenRide?.dispatcher?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{takenRide?.dispatcher?.lastname}}</span>
                    <div *ngFor="let comment of takenRide?.comments">
                      <br/>
                      <span class="card-text">Rating: </span>
                      <span>
                          <a *ngFor="let rating of ratingList; let i = index">
                            <i [ngStyle]="{'color': (i < comment?.rating) ? 'red' : 'grey'}" class="fa fa-star"></i>
                          </a>
                      </span>
                      <br/>
                      <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm.value)">
                        <input type="text" hidden name="rideId" [(ngModel)]="takenRide.id" #rideId="ngModel"/>
                        <textarea readonly="true" type="text" class="form-control form-control-lg" placeholder="Leave a comment..." name="description" #description="ngModel" [ngModel]="comment?.description" (ngModelChange)="comment.description=$event"></textarea>
                        <span *ngIf="comment?.description !== null" class="card-text float-left">{{comment?.user.username}} at {{comment?.timestamp?.toLocaleDateString()}} {{comment?.timestamp?.toLocaleTimeString()}}</span>
                        <input *ngIf="comment?.user?.username === personalData?.username" type="submit" value="Comment" [disabled]="description.pristine" class="btn btn-primary btn-sm float-right"/>
                      </form>
                      <br/>
                    </div>
                  </div>
                </div>
                <!--/.Card content-->
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-md-3">
      <div>
        <h2 class="loc-btn">My location</h2>
        <button class="loc-btn btn-sm btn btn-primary">Get my location</button>
      </div>
      <form [formGroup]="locationDataForm">
        <table class="table table-sm table-hover">
          <tbody formGroupName="address">
            <tr>
              <td class="required">Street name:</td>
              <td>
                <div class="form-group">
                  <input formControlName="streetName" class="form-control form-control-sm">
                </div>
              </td>
            </tr>
            <tr>
              <td>Street number:</td>
              <td>
                <div class="form-group">
                  <input formControlName="streetNumber" class="form-control form-control-sm">
                </div>
              </td>
            </tr>
            <tr>
              <td>City:</td>
              <td>
                <div class="form-group">
                  <input formControlName="city" class="form-control form-control-sm">
                </div>
              </td>
            </tr>
            <tr>
              <td>Postal code:</td>
              <td>
                <div class="form-group">
                  <input formControlName="postalCode" class="form-control form-control-sm">
                </div>
              </td>
            </tr>
          </tbody>
          <tr>
            <td>Longitude:</td>
            <td>
              <div class="form-group">
                <input formControlName="longitude" class="form-control form-control-sm">
              </div>
            </td>
          </tr>
          <tr>
            <td>Latitude:</td>
            <td>
              <div class="form-group">
                <input formControlName="latitude" class="form-control form-control-sm">
              </div>
            </td>
          </tr>
        </table>
        <button (click)="changeLocationData()" [hidden]="!locationDataForm.dirty && locationDataForm.valid" class="btn btn-primary" type="submit" [disabled]="!locationDataForm.valid">Save changes</button>
      </form>
    </div>
    <div class="col col-md-3">
      <h2>My rides</h2>
      <div *ngIf="driverRides.length === 0">
        You haven't took any rides yet.
      </div>
      <div *ngIf="driverRides.length > 0" class="side-list">
        <table class="table">
          <tr *ngFor="let ride of driverRides">
            <td>
              <!--Card-->
              <div class="card">
                <!--Card content-->
                <div class="card-block">
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{ride?.startLocation?.address?.streetName}} {{ride?.startLocation?.address?.streetNumber}}</h4>
                    <!--Text-->
                    <span class="card-text">Price: </span>
                    <span class="card-text">{{ride?.price}}</span>
                    <br/>
                    <span class="card-text">Street name: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.streetName}}</span>
                    <br/>
                    <span class="card-text">Street number: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.streetNumber}}</span>
                    <br/>
                    <span class="card-text">City: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.city}}</span>
                    <br/>
                    <span class="card-text">Postal code: </span>
                    <span class="card-text">{{ride?.startLocation?.address?.postalCode}}</span>
                    <br/>
                    <span class="card-text">Longitude: </span>
                    <span class="card-text">{{ride?.startLocation?.longitude}}</span>
                    <br/>
                    <span class="card-text">Latitude: </span>
                    <span class="card-text">{{ride?.startLocation?.latitude}}</span>
                    <br/>
                    <span class="card-text">Car type: </span>
                    <span class="card-text">{{ride?.carType}}</span>
                    <br/>
                    <span class="card-text">Timestamp: </span>
                    <span class="card-text">{{ride?.timestamp}}</span>
                    <br/>
                    <span class="card-text">Status: </span>
                    <span class="card-text">{{ride?.rideStatus}}</span>
                    <br/>
                    <span class="card-text">Customer:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.customer?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.customer?.lastname}}</span>
                    <br/>
                    <span class="card-text">Driver:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.driver?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.driver?.lastname}}</span>
                    <br/>
                    <span class="card-text">Dispatcher:</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Name: </span>
                    <span class="card-text">{{ride?.dispatcher?.name}}</span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">Lastname: </span>
                    <span class="card-text">{{ride?.dispatcher?.lastname}}</span>
                    <div *ngFor="let comment of ride?.comments">
                      <br/>
                      <span class="card-text">Rating: </span>
                      <span>
                          <a *ngFor="let rating of ratingList; let i = index">
                            <i [ngStyle]="{'color': (i < comment?.rating) ? 'red' : 'grey'}" class="fa fa-star"></i>
                          </a>
                      </span>
                      <br/>
                      <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm.value)">
                        <input type="text" hidden name="rideId" [(ngModel)]="ride.id" #rideId="ngModel"/>
                        <textarea readonly="true" type="text" class="form-control form-control-lg" placeholder="Leave a comment..." name="description" #description="ngModel" [ngModel]="comment?.description" (ngModelChange)="comment.description=$event"></textarea>
                        <span *ngIf="comment?.description !== null" class="card-text float-left">{{comment?.user.username}} at {{comment?.timestamp?.toLocaleDateString()}} {{comment?.timestamp?.toLocaleTimeString()}}</span>
                        <input *ngIf="comment?.user?.username === personalData?.username" type="submit" value="Comment" [disabled]="description.pristine" class="btn btn-primary btn-sm float-right"/>
                      </form>
                      <br/>
                    </div>
                  </div>
                </div>
                <!--/.Card content-->
              </div>
              <!--/.Card-->
            </td>
          </tr>
        </table>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      <h2>My personal data</h2>
      <form [formGroup]="personalDataForm">
        <table class="table table-sm table-hover">
          <tr>
            <td>Username:</td>
            <td>
              <div class="form-group">
                <input formControlName="username" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.username.touched && !pdForm.username.valid">
                  <div *ngIf="pdForm.username.errors.required">Username is required.</div>
                  <div *ngIf="pdForm.username.errors.minlength">Username needs to be at least 8 characters long.</div>
                  <div *ngIf="pdForm.username.errors.maxlength">Username needs to be maximum of 30 characters long.</div>
                  <div *ngIf="pdForm.username.errors.pattern">Username can contain only ASCII characters and numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Password:</td>
            <td>
              <div class="form-group">
                <input formControlName="password" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.password.touched && !pdForm.password.valid">
                  <div *ngIf="pdForm.password.errors.required">Password is required.</div>
                  <div *ngIf="pdForm.password.errors.minlength">Password needs to be at least 8 characters long.</div>
                  <div *ngIf="pdForm.password.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
                  <div *ngIf="pdForm.password.errors.pattern">Password can contain only ASCII characters and numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <div class="form-group">
                <input formControlName="name" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.name.touched && !pdForm.name.valid">
                  <div *ngIf="pdForm.name.errors.required">Name is required.</div>
                  <div *ngIf="pdForm.name.errors.minlength">Name needs to be at least 3 characters long.</div>
                  <div *ngIf="pdForm.name.errors.maxlength">Name needs to be maximum of 30 characters long.</div>
                  <div *ngIf="pdForm.name.errors.pattern">Name can contain only ASCII characters.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Lastname:</td>
            <td>
              <div class="form-group">
                <input formControlName="lastname" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.lastname.touched && !pdForm.lastname.valid">
                  <div *ngIf="pdForm.lastname.errors.required">Lastname is required.</div>
                  <div *ngIf="pdForm.lastname.errors.minlength">Lastname needs to be at least 3 characters long.</div>
                  <div *ngIf="pdForm.lastname.errors.maxlength">Lastname needs to be maximum of 30 characters long.</div>
                  <div *ngIf="pdForm.lastname.errors.pattern">Lastname can contain only ASCII characters.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
              <div class="form-group">
                <input formControlName="email" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.email.touched && !pdForm.email.valid">
                  <div *ngIf="pdForm.email.errors.required">Email is required.</div>
                  <div *ngIf="pdForm.email.errors.email">Email is not valid.</div>
                  <div *ngIf="pdForm.email.errors.maxlength">Email can be a maximum of 254 characters long.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>
              <div class="form-group">
                <select formControlName="gender" class="custom-select form-control form-control-sm">
                  <option>MALE</option>
                  <option>FEMALE</option>
                </select>
                <div class="alert alert-danger" *ngIf="pdForm.gender.touched && !pdForm.gender.valid">
                  <div *ngIf="pdForm.gender.errors.required">Gender is required.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>NIDN:</td>
            <td>
              <div class="form-group">
                <input formControlName="nationalIdentificationNumber" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.nationalIdentificationNumber.touched && !pdForm.nationalIdentificationNumber.valid">
                  <div *ngIf="pdForm.nationalIdentificationNumber.errors.minlength || pdForm.nationalIdentificationNumber.errors.maxlength">National identification number needs to be 13 digits long.</div>
                  <div *ngIf="pdForm.nationalIdentificationNumber.errors.pattern">National identification number can contain only numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Phone number:</td>
            <td>
              <div class="form-group">
                <input formControlName="phoneNumber" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="pdForm.phoneNumber.touched && !pdForm.phoneNumber.valid">
                  <div *ngIf="pdForm.phoneNumber.errors.minlength">Phone number needs to be at least 5 digits long.</div>
                  <div *ngIf="pdForm.phoneNumber.errors.maxlength">Phone number needs to be maximum of 10 digits long.</div>
                  <div *ngIf="pdForm.phoneNumber.errors.pattern">Phone number can contain only numbers.</div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <button [hidden]="!personalDataForm.dirty && personalDataForm.valid" class="btn btn-primary" type="submit" [disabled]="!personalDataForm.valid" (click)="changeMyData()">Save changes</button>  
      </form>
    </div>
    <div class="col col-md-3">
      <h2>My car data</h2>
      <form [formGroup]="carDataForm">
        <table class="table table-sm table-hover">
          <tr>
            <td>Taxi number:</td>
            <td>
              <div class="form-group">
                <input formControlName="taxiNumber" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="cdForm.taxiNumber.touched && !cdForm.taxiNumber.valid">
                  <div *ngIf="cdForm.taxiNumber.errors.minlength">Taxi number needs to be at least 1 digits long.</div>
                  <div *ngIf="cdForm.taxiNumber.errors.maxlength">Taxi number needs to be maximum of 10 digits long.</div>
                  <div *ngIf="cdForm.taxiNumber.errors.pattern">Taxi number can contain only numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Registration number:</td>
            <td>
              <div class="form-group">
                <input formControlName="registrationNumber" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="cdForm.registrationNumber.touched && !cdForm.registrationNumber.valid">
                  <div *ngIf="cdForm.registrationNumber.errors.minlength">Registration number needs to be at least 5 characters long.</div>
                  <div *ngIf="cdForm.registrationNumber.errors.maxlength">Registration number needs to be maximum of 7 characters long.</div>
                  <div *ngIf="cdForm.registrationNumber.errors.pattern">Registration number can contain only ASCII characters and numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Year of manufactoring:</td>
            <td>
              <div class="form-group">
                <input formControlName="yearOfManufactoring" class="form-control form-control-sm">
                <div class="alert alert-danger" *ngIf="cdForm.yearOfManufactoring.touched && !cdForm.yearOfManufactoring.valid">
                  <div *ngIf="cdForm.yearOfManufactoring.errors.required && personalData.role === 'DRIVER'">Car year of manufactoring is required.</div>
                  <div *ngIf="cdForm.yearOfManufactoring.errors.minlength || cdForm.yearOfManufactoring.errors.maxlength">Car year of manufactoring needs to be 4 digits long.</div>
                  <div *ngIf="cdForm.yearOfManufactoring.errors.pattern">Car year of manufactoring can contain only numbers.</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Type:</td>
            <td>
              <div class="form-group">
                <select formControlName="carType" class="form-control form-control-sm">
                  <option selected>{{ personalData?.car?.carType }}</option>
                  <option *ngIf="personalData?.car?.carType === 'PASSENGER'">VAN</option>
                  <option *ngIf="personalData?.car?.carType === 'VAN'">PASSENGER</option>
                </select>
                <div class="alert alert-danger" *ngIf="cdForm.carType.touched && !cdForm.carType.valid">
                  <div *ngIf="cdForm.carType.errors.required">Car type is required.</div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <button (click)="changeCarData()" [hidden]="!carDataForm.dirty && carDataForm.valid" class="btn btn-primary" type="submit" [disabled]="!carDataForm.valid">Save changes</button>
      </form>
    </div>
  </div>
</div>