<div class="row">
  <div class="col col-md-4">
    <h3>My car data</h3>
    <button class="btn btn-primary" (click)="getMyCarData()">Get my car data</button>
    <div *ngIf="shouldDisplayCarData">
      <form #changeCarDataForm="ngForm" (ngSubmit)="changeMyCarData(changeCarDataForm.value)">
        <table class="table table-sm table-hover">
          <tbody>
            <tr>
              <td>Car year of manufactoring:</td>
              <td>
                <div class="form-group">
                  <input 
                    required 
                    minlength="4"
                    maxlength="4"
                    pattern="[0-9]*"
                    type="text" name="yearOfManufactoring" #yearOfManufactoring="ngModel" [(ngModel)]="carData.yearOfManufactoring" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="yearOfManufactoring.touched && !yearOfManufactoring.valid">
                    <div *ngIf="yearOfManufactoring.errors.required && personalData.gender === 'DRIVER'">Car year of manufactoring is required.</div>
                    <div *ngIf="yearOfManufactoring.errors.minlength || yearOfManufactoring.errors.maxlength">Car year of manufactoring needs to be 4 digits long.</div>
                    <div *ngIf="yearOfManufactoring.errors.pattern">Car year of manufactoring can contain only numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Car registration number:</td>
              <td>
                <div class="form-group">
                  <input 
                    required
                    minlength="5"
                    maxlength="7"
                    pattern="[a-zA-Z0-9]*"
                    type="text" name="registrationNumber" #registrationNumber="ngModel" [(ngModel)]="carData.registrationNumber" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="registrationNumber.touched && !registrationNumber.valid">
                    <div *ngIf="registrationNumber.errors.minlength">Registration number needs to be at least 5 characters long.</div>
                    <div *ngIf="registrationNumber.errors.maxlength">Registration number needs to be maximum of 7 characters long.</div>
                    <div *ngIf="registrationNumber.errors.pattern">Registration number can contain only ASCII characters and numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Car taxi number:</td>
              <td>
                <div class="form-group">
                  <input 
                    required
                    minlength="1"
                    maxlength="10"
                    pattern="[a-zA-Z0-9]*"
                    type="text" name="taxiNumber" #taxiNumber="ngModel" [(ngModel)]="carData.taxiNumber" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="taxiNumber.touched && !taxiNumber.valid">
                    <div *ngIf="taxiNumber.errors.minlength">Taxi number needs to be at least 1 digits long.</div>
                    <div *ngIf="taxiNumber.errors.maxlength">Taxi number needs to be maximum of 10 digits long.</div>
                    <div *ngIf="taxiNumber.errors.pattern">Taxi number can contain only numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Car type:</td>
              <td>
                <div class="form-group">
                  <select required name="carType" [(ngModel)]="carData.carType" #carType="ngModel" class="form-control form-control-sm">
                    <option selected>{{ carData.carType }}</option>
                    <option *ngIf="carData.carType === 'PASSENGER'">VAN</option>
                    <option *ngIf="carData.carType === 'VAN'">PASSENGER</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="carData.touched && !carData.valid">
                    <div *ngIf="carType.errors.required">Car type is required.</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <input [hidden]="!changeCarDataForm.dirty && changeCarDataForm.valid" class="btn btn-primary" type="submit" value="Save changes" [disabled]="!changeCarDataForm.valid"/>
      </form>
    </div>
  </div>
  <div class="col col-md-4">
    <h3>My personal data</h3>
    <button class="btn btn-primary" (click)="getMyData()">Display my data</button>
    <div *ngIf="shouldDisplayData">
      <form #changeDataForm="ngForm" (ngSubmit)="changeMyData(changeDataForm.value)">
        <table class="table table-sm table-hover">
          <tbody>
            <tr>
              <td class="required">Username:</td>
              <td>
                <div class="form-group">
                  <input 
                    required 
                    minlength="8"
                    maxlength="30"
                    pattern="[a-zA-Z0-9]*"
                    type="text" name="username" #username="ngModel" [(ngModel)]="personalData.username" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                    <div *ngIf="username.errors.required">Username is required.</div>
                    <div *ngIf="username.errors.minlength">Username needs to be at least 8 characters long.</div>
                    <div *ngIf="username.errors.maxlength">Username needs to be maximum of 30 characters long.</div>
                    <div *ngIf="username.errors.pattern">Username can contain only ASCII characters and numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Password:</td>
              <td>
                <div class="form-group">
                  <input 
                    required 
                    minlength="8"
                    maxlength="30"
                    pattern="[a-zA-Z0-9]*"
                    type="text" name="password" #password="ngModel" [(ngModel)]="personalData.password" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password needs to be at least 8 characters long.</div>
                    <div *ngIf="password.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
                    <div *ngIf="password.errors.pattern">Password can contain only ASCII characters and numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Name:</td>
              <td>
                <div class="form-group">
                  <input 
                    required
                    minlength="3"
                    maxlength="30"
                    pattern="[a-zA-Z]*"
                    type="text" name="name" #name="ngModel" [(ngModel)]="personalData.name" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                    <div *ngIf="name.errors.required">Name is required.</div>
                    <div *ngIf="name.errors.minlength">Name needs to be at least 3 characters long.</div>
                    <div *ngIf="name.errors.maxlength">Name needs to be maximum of 30 characters long.</div>
                    <div *ngIf="name.errors.pattern">Name can contain only ASCII characters.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Lastname:</td>
              <td>
                <div class="form-group">
                  <input 
                    required 
                    minlength="3"
                    maxlength="30"
                    pattern="[a-zA-Z]*"
                    type="text" name="lastname" #lastname="ngModel" [(ngModel)]="personalData.lastname" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
                    <div *ngIf="lastname.errors.required">Lastname is required.</div>
                    <div *ngIf="lastname.errors.minlength">Lastname needs to be at least 3 characters long.</div>
                    <div *ngIf="lastname.errors.maxlength">Lastname needs to be maximum of 30 characters long.</div>
                    <div *ngIf="lastname.errors.pattern">Lastname can contain only ASCII characters.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>
                <div class="form-group">
                  <input 
                    required 
                    maxlength="254"
                    email 
                    type="text" name="email" #email="ngModel" [(ngModel)]="personalData.email" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">Email is required.</div>
                    <div *ngIf="email.errors.email">Email is not valid.</div>
                    <div *ngIf="email.errors.maxlength">Email can be a maximum of 254 characters long.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>
                <div class="form-group">
                  <select required name="gender" [(ngModel)]="personalData.gender" #gender="ngModel" class="form-control form-control-sm">
                    <option selected>{{ personalData.gender }}</option>
                    <option *ngIf="personalData.gender === 'FEMALE'">MALE</option>
                    <option *ngIf="personalData.gender === 'MALE'">FEMALE</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">
                    <div *ngIf="gender.errors.required">Gender is required.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>NIDN:</td>
              <td>
                <div class="form-group">
                  <input 
                    minlength="13"
                    maxlength="13"
                    pattern="[0-9]*"
                    type="text" name="nationalIdentificationNumber" [(ngModel)]="personalData.nationalIdentificationNumber" #nationalIdentificationNumber="ngModel" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="nationalIdentificationNumber.touched && !nationalIdentificationNumber.valid">
                    <div *ngIf="nationalIdentificationNumber.errors.minlength || nationalIdentificationNumber.errors.maxlength">National identification number needs to be 13 digits long.</div>
                    <div *ngIf="nationalIdentificationNumber.errors.pattern">National identification number can contain only numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Phone number:</td>
              <td>
                <div class="form-group">
                  <input 
                    minlength="5"
                    maxlength="10"
                    pattern="[0-9]*"
                    type="text" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="personalData.phoneNumber" class="form-control form-control-sm">
                  <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                    <div *ngIf="phoneNumber.errors.minlength">Phone number needs to be at least 5 digits long.</div>
                    <div *ngIf="phoneNumber.errors.maxlength">Phone number needs to be maximum of 10 digits long.</div>
                    <div *ngIf="phoneNumber.errors.pattern">Phone number can contain only numbers.</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <input [hidden]="!changeDataForm.dirty && changeDataForm.valid" class="btn btn-primary" type="submit" value="Save changes" [disabled]="!changeDataForm.valid"/>
    </form>
    </div>
  </div>
  <div class="col col-md-4">
    <h3>My location</h3>
  </div>
</div>